.header__logo {
    border-bottom: 1px solid var(--white500);

    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 40px;
            height: 40px;
            display: block;
            background-color: var(--white500);
            margin-right: 10px;
            animation: ani 15s 1s ease-in-out infinite;
        }
        span {
            font-size: 20px;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    @media (max-width: 800px) {
        border-bottom: 0;
    }
}
.header__menu {
    padding: 10px 0px;

    .menu {
        border-bottom: 1px solid var(--white500);

        li {
            margin-bottom: 5px;
            a{
                font-size: 1rem;
                display: block;
                padding: 0.9rem 2rem 0.9rem 3.125rem;
                margin: 0 0.625rem;
                border-radius: 40px;
                line-height: 1;
                position: relative;
                transition: all .3s;

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.25rem;
                    top: 0.75rem;
                }

                &:hover {
                    background-color: var(--white500);
                }
            }
            &.active a {
                background-color: var(--white500);
            }
        }
    }
}
.header__sns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width:260px;
    text-align: center;
    padding: 15px 0px 10px;
    backdrop-filter: blur(10px);

    li {
        display: inline-block;

        a {
            padding: 5px 7px;
            display: inline-block;
        }
    }

    @media (max-width: 800px) {
        display: none;
    }
}

@keyframes ani {
    0% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
    50% {
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }
    100% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
}