// 공통 요소

body {
    background-color: var(--white);
    color: var(--black);
}

section {
    padding: 40px;

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 800px) {
        padding: 20px;
    }
}

// 마우스 오버 아이콘
.play__icon {
    a {
        position: relative;
        display: block;
        cursor: pointer;
        width: 100%;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--blackAlpha100);
            position: absolute;
            top: 0;
            left: 0;
            transition: background-color .3s;
        }

        &:hover::before {
            background-color: var(--blackAlpha);
        }

        &::after {
            content: '';
            width: 80px;
            height: 80px;
            background: var(--blackAlpha) url(../../img/icon/play.svg) no-repeat center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
            transition: opacity .3s;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

// 비디오 로딩 효과
.isLoading {
    opacity: 0;
    transition: opacity .5s;
}
.isLoaded {
    opacity: 1;
    transition: opacity .5s;
}